@model last_test_tech.ViewModel.candidaturecreateView

@{
    ViewData["Title"] = "Create";
}
<div class="container py-5 ">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form enctype="multipart/form-data" asp-action="Create">
                <h3 id="etap" class="text-center">Etap 1</h3>
                <div id="tab1">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="nom" class="control-label"></label>
                            <input asp-for="nom" class="form-control" />
                            <span asp-validation-for="nom" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="prenom" class="control-label"></label>
                            <input asp-for="prenom" class="form-control" />
                            <span asp-validation-for="prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <label asp-for="mail" class="control-label"></label>
                            <input asp-for="mail" class="form-control" />
                            <span asp-validation-for="mail" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="tele" class="control-label"></label>
                            <input asp-for="tele" class="form-control" />
                            <span asp-validation-for="tele" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-3">
                            <label asp-for="niveau_detude" class="control-label"></label>
                            <select asp-for="niveau_detude" class="form-control">
                                <option value="Bac">Bac</option>
                                <option value="Bac+2">Bac+2</option>
                                <option value="Bac+3">Bac+3</option>
                                <option value="Bac+4">Bac+4</option>
                                <option value="Bac+5">Bac+5</option>
                            </select>
                            <span asp-validation-for="niveau_detude" class="text-danger"></span>
                        </div>
                        <div class="col-sm-3">
                            <label asp-for="nbr_anne_exp" class="control-label"></label>
                            <input asp-for="nbr_anne_exp" class="form-control" />
                            <span asp-validation-for="nbr_anne_exp" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="dn_employeur" class="control-label"></label>
                            <input asp-for="dn_employeur" class="form-control" />
                            <span asp-validation-for="dn_employeur" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="button" id="next1" value="Next" class="btn rounded btn-primary"/>
                </div>
                <div class="tab2">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label class="control-label">Telecharger votre Cv</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input asp-for="Cv" accept="image/*, .pdf" type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" id="FileName" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <span asp-validation-for="dn_employeur" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <input id="back" type="button" value="Back" class="btn btn-outline-primary" />
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tab2").hide();
        })
        $('#inputGroupFile01').on('change', function () {
            var inputphoto = $(this).val().split("\\").pop();
            $('#FileName').html(inputphoto);
        })
        $("#next1").on("click", function () {
            $("#tab1").hide();
            $(".tab2").show();
            $("#etap").html("Etap 2")
        })
        $("#back").on("click", function () {
            $(".tab2").hide();
            $("#tab1").show();
            $("#etap").html("Etap 1")
        })
    </script>
}
