@model last_test_tech.ViewModel.candidaturecreateView

@{
    ViewData["Title"] = "Create";
}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form enctype="multipart/form-data" asp-action="Create">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="nom" class="control-label"></label>
                            <input asp-for="nom" class="form-control" />
                            <span asp-validation-for="nom" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="prenom" class="control-label"></label>
                            <input asp-for="prenom" class="form-control" />
                            <span asp-validation-for="prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <label asp-for="mail" class="control-label"></label>
                            <input asp-for="mail" class="form-control" />
                            <span asp-validation-for="mail" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="tele" class="control-label"></label>
                            <input asp-for="tele" class="form-control" />
                            <span asp-validation-for="tele" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <label asp-for="niveau_detude" class="control-label"></label>
                            <input asp-for="niveau_detude" class="form-control" />
                            <span asp-validation-for="niveau_detude" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="nbr_anne_exp" class="control-label"></label>
                            <input asp-for="nbr_anne_exp" class="form-control" />
                            <span asp-validation-for="nbr_anne_exp" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-sm-6">
                            <label asp-for="dn_employeur" class="control-label"></label>
                            <input asp-for="dn_employeur" class="form-control" />
                            <span asp-validation-for="dn_employeur" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="Cv" class="control-label"></label>
                            <input type="file" accept=".pdf,image/*" asp-for="Cv" class="form-control" />
                            <span asp-validation-for="Cv" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
